  
  .top_mar
  {
    padding-top: 50px;
    padding-bottom: 20px;
  }
.dbox{
    height:20px;
    background-color: mediumvioletred;

}
.navigation{
    position: fixed;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
  }

  .back_gr{
        background-image:url('../images/banner.jpg');
        background-size: 50%,50%;
   }
  .fix
  {
    position: fix;
    width: 100%;
    z-index: 999;

    background-color: #292c47;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .ftop
  {
    background-color: #3a3e64;
    padding:20px 0;
  }
  .fbottom{
    background-color: #313454;
    padding-top: 50px;

  }